{% extends "template.html.twig" %}
{% block title %} - Mentions légales{% endblock %}
{% block main %}
  <div data-role="main" id="content" class="content html">
    <h2>Conditions d'Utilisation du  site internet :</h2>
    <div>m.mescocktails.com<br>m.mescocktails.fr</div>
    <h4>1/ Conditions d'Utilisation du site  internet Mes Cocktails</h4>
    <div>Le Site &laquo; Mes Cocktails &raquo; consultable &agrave; l&rsquo;adresse https://m.mescocktails.com/ (ci-apr&egrave;s d&eacute;nomm&eacute; &quot;le Site&quot;) vous est propos&eacute; sous certaines conditions, que vous vous engagez &agrave; conna&icirc;tre et respecter. Ces conditions d&rsquo;utilisation sont d&eacute;finies dans le pr&eacute;sent document. L&rsquo;utilisation, la consultation du Site est limit&eacute;e &agrave; des fins personnelles et non commerciales. D&rsquo;une fa&ccedil;on g&eacute;n&eacute;rale, vous vous interdisez d&rsquo;utiliser tout ou partie du Site &agrave; des fins illicites (droits d&rsquo;auteur) ou contraires aux pr&eacute;sentes conditions d&rsquo;utilisation. De m&ecirc;me, l'utilisation et la consultation du Site est r&eacute;serv&eacute;e  aux personnes majeurs dans leur pays de r&eacute;sidence.</div>
    <h4>2/ Protection du site internet Mes Cocktails</h4>
    <div>a) Droits d'auteurs et copyrights sur  Mes Cocktails<br>
      Toute repr&eacute;sentation ou reproduction  int&eacute;grale ou partielle des &eacute;l&eacute;ments du Site est interdite.<br>
      <br />
      b) Signes distinctifs sur Mes Cocktails<br>
        Tous les logos, marques, images,  textes, signes distinctifs etc, pr&eacute;sents sur le Site sont &eacute;galement prot&eacute;g&eacute;s par les droits de propri&eacute;t&eacute; intellectuelle.<br />
        Seules les recettes sont libres de droit.
        <br>
        <br />
        L'utilisation du Site n'implique en  aucun cas et d'aucune mani&egrave;re une quelconque cession de droits,  ceux-ci demeurant la propri&eacute;t&eacute; exclusive de Mes Cocktails.<br>
        <br />
        Toute utilisation frauduleuse de tout ou partie du Site pourra donner lieu &agrave; des poursuites.<br>
        <br />
        c) Liens sur Mes Cocktails<br>
        Le m&eacute;canisme des liens est autoris&eacute;  lorsque les pages du Site apparaissent dans une fenetre enti&egrave;re et  isol&eacute;e, sous leurs adresses respectives. En cons&eacute;quence,  l'ouverture de nos pages par frame est par exemple strictement  interdit.</div>
    <h4>3/ Responsabilit&eacute;s r&eacute;dactionnelles  sur le site internet Mes Cocktails</h4>
    <div>Le Site est mis &agrave; disposition des internautes. Mes Cocktails s'engage &agrave; respecter la r&eacute;glementation.<br>
      <br />
      Toutefois,  Mes Cocktails ne peut &ecirc;tre tenu responsable des informations  pr&eacute;sent&eacute;es/modifi&eacute;es par les inscrits. MesCocktails mettra en  oeuvre tous les moyens en sa disposition pour surveiller et supprimer des informations ne respectant pas la r&eacute;glementation.<br>
      <br />
      Sur ce site internet, la transmission de contenus mentionn&eacute;s ci-dessous est rigoureusement interdite.<br>
      <br />
      Ainsi, les participants garantissent ne  pas transmettre de contenus :<br>
        - au caract&egrave;re mensong&eacute; ou erron&eacute; ;<br>
        - susceptibles de constituer une  violation des droits de la propri&eacute;t&eacute; litt&eacute;raire, artistique, des  marques et industrielle ou d'autres droits de tiers, tels le droit &agrave; l'image et le droit au respect de la vie priv&eacute;e (Les recettes pr&eacute;sent&eacute;es restent libre de droit);<br>
        - &agrave; caract&egrave;re injurieux,  diffamatoires, calomnieux, racistes, x&eacute;nophobes, r&eacute;visionnistes ou  portant atteinte &agrave; l'honneur ou la r&eacute;putation d'autrui.  Incitant &agrave; la discrimination, &agrave; la haine d'une personne ou d'un  groupe de personnes en raison de leur origine ou de leur appartenance  ou de leur non-appartenance &agrave; une ethnie, une nation, une race ou  une religion d&eacute;termin&eacute;e ;<br>
        - mena&ccedil;ant une personne ou un groupe  de personnes ;<br>
        - portant atteinte &agrave; l'ordre public,  passibles de poursuites civiles ou p&eacute;nales, ou de nature  diffamatoire ; au caract&egrave;re anticonstitutionnel, extr&eacute;miste ou  &eacute;manant de groupes interdits par la loi ; incitant &agrave; un d&eacute;lit, au  crime, au suicide et aux actes de terrorisme ou faisant l'apologie  des crimes, des actes de terrorisme, des crimes de guerre ou des  crimes contre l'humanit&eacute; ; au caract&egrave;re pornographique,  contraires aux bonnes moeurs ou attentatoires &agrave; la dignit&eacute; humaine  ;<br>
        - permettant &agrave; des tiers de se  procurer directement ou indirectement des logiciels pirat&eacute;s, des  num&eacute;ros de s&eacute;rie de logiciels, des logiciels permettant les actes  de piratage et d'intrusion dans les syst&egrave;mes informatiques et de  t&eacute;l&eacute;communication, et d'une mani&egrave;re g&eacute;n&eacute;rale tout outil  logiciel ou autre permettant de porter atteinte aux droits d'autrui  et &agrave; la s&eacute;curit&eacute; des personnes et des biens ;<br>
        - comprenant des virus ou toute autre  application qui serait de nature &agrave; perturber ou &agrave; endommager, les  logiciels, le mat&eacute;riel informatique et les ordinateurs du Site ou de  ses utilisateurs ;<br>
        - constituant des cha&icirc;nes de lettres.<br>
        <br />
        L'internaute s'engage &agrave; respecter  l'image et la r&eacute;putation du Site et &agrave; ne pas se livrer &agrave; des d&eacute;clarations et/ou des actions quelconques portant atteinte au Site.<br>
        <br />
        En cas d'atteinte aux lois en  vigueur, aux bonnes  moeurs, aux conditions pr&eacute;sentes d'utilisation ou pour toute autre raison librement interpr&eacute;t&eacute;e, le Site se r&eacute;serve le droit de poursuivre l'internaute qui ne suivrait pas les  Conditions d'Utilisation.</div>
    <h4>4/ Garanties sur le site internet  Mes Cocktails</h4>
    <div>Alors m&ecirc;me que le Site a effectu&eacute; les  d&eacute;marches n&eacute;cessaires pour s'assurer de la fiabilit&eacute; des  informations, services ou logiciels contenus sur ce Site, il ne  saurait &ecirc;tre tenu pour responsable d'erreurs, d'omissions, de  virus ou des r&eacute;sultats qui pourraient &ecirc;tre obtenus par un mauvais usage de ceux-ci. Le Site n'est en effet tenu que d'une simple obligation de moyens.<br>
      <br />
      Le Site s'efforce de maintenir  accessible ses pages 7 jours sur 7 et 24 heures sur 24, mais n'est tenu &agrave; aucune obligation d'y parvenir. Il peut donc en interrompre l'acc&egrave;s, notamment pour des raisons de maintenance et de mise &agrave; niveau. L'acc&egrave;s peut &eacute;galement &ecirc;tre interrompu pour toute autre raison. Le Site n'est en aucun cas responsable de l'int&eacute;gralit&eacute; de ces interruptions et des cons&eacute;quences qui peuvent en d&eacute;couler pour l'utilisateur ou tout tiers. Il est rappel&eacute; par ailleurs que le Site peut mettre fin ou modifier les caract&eacute;ristiques de ses pages &agrave; tout moment, et cela sans pr&eacute;avis.<br>
        <br />
        Toute information ou conseil fourni par le Site ne saurait &ecirc;tre interpr&eacute;t&eacute; comme une quelconque garantie.  Par ailleurs des liens hypertextes peuvent conduire &agrave; une consultation de sites ext&eacute;rieurs g&eacute;r&eacute;s par des tiers. Sur ces  sites web, le Site n'a aucun contr&ocirc;le et n'assume aucune responsabilit&eacute; quant &agrave; leur contenu.</div>
    <h4>5/ CNIL et inscription au site internet  Mes Cocktails</h4>
    <div>Le Site ne proposant aucun produit et service &agrave; la vente, l'inscription &agrave; la  Commission Nationale de l'Informatique et des Libert&eacute;s (CNIL) n'est pas obligatoire.<br>
      <br />
      Pour profiter de l'ensemble du site et de ses avantages, l'inscription est obligatoire. Elle est gratuite et accessible sur la version du site pour ordinateur.<br />
        L'Inscrit dispose d'un droit d'acc&egrave;s, de rectification, et de suppression des donn&eacute;es le concernants. Le Site pourra &agrave; tout moment, avec ou sans pr&eacute;avis, d&eacute;sactiver ou supprimer un compte contraire aux propos du Site et ce sans pr&eacute;judice de toute action judiciaire.<br>
        <br />
        Le Site peut &ecirc;tre amen&eacute; &agrave; divulguer  des informations personnelles lorsqu'elles sont n&eacute;cessaires &agrave; l'identification, &agrave; l'interpellation ou &agrave; la poursuite en  justice de tout individu susceptible de porter pr&eacute;judice ou atteinte (intentionnellement ou non) aux droits ou &agrave; la propri&eacute;t&eacute; du Site,  &agrave; d'autres utilisateurs du Site, ou &agrave; toute autre personne risquant d'&ecirc;tre p&eacute;nalis&eacute;e par de telles activit&eacute;s.</div>
    <h4>6/ Confidentialit&eacute; et droits d'acc&egrave;s  sur le site internet Mes Cocktails</h4>
    <div>Aucune donn&eacute;e personnelle recueillie  sur ce site n'est accessible au public, ni ne sera c&eacute;d&eacute;e &agrave; des  tiers, sauf le pseudonyme  consultable par les internautes.<br>
      <br />
      En application de la loi n&deg; 78-17 du 6  janvier 1978 relative &agrave; l'informatique, aux fichiers et aux libert&eacute;s, chaque personne dispose sur les donn&eacute;es personnelles la concernant des droits d'acc&egrave;s (art. 34 &agrave; 38 de la loi), de rectification (art. 36 de la loi) et d'opposition (art. 26 de la  loi) et pour exercer ses droits, doit &eacute;crire &agrave; Mes Cocktails &agrave, l'adresse contact@mescocktails.fr.</div>
    <h4><a name="Cookies"></a>7/ Cookies sur le site internet Mes Cocktails</h4>
    <div>Afin de proc&eacute;der &agrave; des statistiques (ex :estimation de la fr&eacute;quentation du site), &agrave; l'am&eacute;lioration  de votre navigation (ex :privil&eacute;gier ou d&eacute;velopper l'optimisation  de notre site pour tel navigateur et tel type d'affichage-couleur) et pour des raisons de s&eacute;curit&eacute; (ex :pouvoir d&eacute;terminer l'origine  de spam), nous pouvons &ecirc;tre amen&eacute;s &agrave; collecter des donn&eacute;es vous concernant, que ce soit par exemple votre adresse IP ou vos variables d'environnement par l'utilisation de cookies.<br>
      <br />
      Un cookie est un bloc de  donn&eacute;es envoy&eacute; &agrave; votre navigateur par un serveur web et stock&eacute; sur le disque dur de votre ordinateur. Un ou plusieurs cookies peuvent &ecirc;tre plac&eacute;s de mani&egrave;re anonyme sur le disque dur de votre ordinateur. Ces cookies ne comportent aucune information &agrave; caract&egrave;re priv&eacute;, ou qui puisse permettre de vous identifier. Ils permettent simplement au Site d'offir et d'am&eacute;liorer les services propos&eacute;s.<br>
        <br />
        L'utilisation des cookies est obligatoire lors de l'utilisation du Site. Vous pouvez n&eacute;anmoins bien entendu les supprimer. A  cette fin, consultez les fichiers d'aide de votre navigateur.
        </div>
    <h4>8/ Dispositions diverses sur le site  internet Mes Cocktails</h4>
    <div>Dans la mesure ou une disposition des  pr&eacute;sentes Conditions d'Utilisation viendrait &agrave; perdre sa validit&eacute; ou si ces derni&egrave;res devaient contenir une lacune, la  disposition en question serait remplac&eacute;e par celle qui s'en rapprocherait le plus du point de vue de l'interpr&eacute;tation juridique. Vous n'&ecirc;tes pas satisfait de tout ou partie de ce site, de votre inscription, ou si vous &ecirc;tes en d&eacute;saccord avec les pr&eacute;sentes Conditions d'Utilisation, votre seul recours consiste &agrave; cesser d'utiliser le Site et si vous &ecirc;tes inscrit, consiste &agrave; vous d&eacute;sinscrire, cf dans  votre espace "Mon compte", onglet "D&eacute;sinscription" sur www.mescocktails.fr (accessible sur ordinateur).<br>
      <br />
      Votre navigation sur le Site, ou utilisation g&eacute;n&eacute;rale du Site implique obligatoirement que vous ayez  connaissance des pr&eacute;sentes Conditions d'Utilisation, et de votre pleine et enti&egrave;re acceptation de ces derni&egrave;res.<br>
      <br />
      Les pr&eacute;sentes Conditions d'Utilisation sont r&eacute;gies et interpr&eacute;t&eacute;es selon le droit fran&ccedil;ais.</div>
    <div>Pour toute question concernant ces pr&eacute;sentes Conditions d'Utilisation, ou question ou remarque sur le Site ou son espace d'expression, envoyez un email à l'adresse contact@mescocktails.fr.</div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    $('#bt_back').on('click', function(){
      history.back();
    });

    var headerH = $('header').height();
    $('main').css({
      'height':'calc(100% - '+ headerH +'px)'
    });
  </script>
{% endblock %}
