{% extends "template.html.twig" %}
{% block title %} - Mentions légales{% endblock %}
{% block main %}
  <div data-role="main" id="content" class="html">
    <h2>Mentions légales du site internet Mes Cocktails</h2>
    <h4>Alias de domaine</h4>
    <p>m.mescocktails.fr m.mescocktails.com</p>
    <h4>Directeur de publication</h4>
    <p>DEON Benjamin</p>
    <h4>Développement</h4>
    <p>DEON Benjamin </p>
    <h4>Design</h4>
    <p>RIGAUX Olivier<br />DEON Benjamin </p>
    <h4>Hébergement du site Mes Cocktails</h4>
    <p>OVH SAS au capital de 500 k€<br />
      RCS Roubaix - Tourcoing 424 761 419 00011<br />
      Code APE 721Z<br />
      N&deg; TVA : FR 22-424-761-419-00011<br />
      Siège social : 140 Quai du Sartel<br />
      59100 Roubaix - France</p>
    <h4>Crédits photos</h4>
    <p>RIGAUX Olivier</p>
  </div>
{% endblock %}
{% block script %}
  <script>
    $('#bt_back').on('click', function(){
      history.back();
    });

    var headerH = $('header').height();
    $('main').css({
      'height':'calc(100% - '+ headerH +'px)',
      'overflow-y':'auto'
    });
  </script>
{% endblock %}
